body{
    background: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.imagem-logo{
    margin: 10px;
    width: 5%;
}
.navegacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}
.lista-navegacao{
    display: flex;
    gap: 19px;
}
.itens-lista-navegacao{
    font-size: 20px;
    transition: 0.5s;
    text-transform: uppercase;
}
.itens-lista-navegacao:hover{
    cursor: pointer;
    color: gold;
    padding: 5px;
}
.principal{
    margin: 50px 10px;
    display: flex;
    justify-content: space-around;
}
.conteudo-primario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo-primario{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px 0;
}
.texto-primario{
    font-size: 18px;
    margin: 10px 0;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagem-secundaria{
    width: 350px;
    transition: 1s;
}
.imagem-secundaria:active{
    transform: rotate(360deg);
}
.secundario{
    margin: 50px 0;
}
.conteudo-botao{
    width: 300px;
    margin: 0 auto;
}
.botao{
    font-family: 'Press Start 2P', cursive;
    width: 100%;
    padding: 15px 0;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background: gold;
    transition: 0.5s;
}
.botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.botao:active{
    transition: 0.5s;
    background: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgb(255, 0, 0));
}